// _config.scss

/**
 * Font Family
 */
 // @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
 // @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
$font-heading							: "Roboto Mono", "Helvetica Neue", monospace, Helvetica, Arial, sans-serif;
$font-default							: "Roboto", sans-serif;
$fa										: "FontAwesome", FontAwesome;


/**
 * Colors
 */

$color-primary            : #ff5533; // Primary Color Unignorable : rgb value 238, 107, 73
$color-primary-dark       : darken($color-primary, 10%);
$color-primary-light      : lighten($color-primary, 10%);

$color-secondary          : #94a8c9; // Secondary Color Blue : rgb value 148, 168, 201
$color-secondary-dark     : darken($color-secondary, 10%);
$color-secondary-light    : lighten($color-secondary, 10%);

$color-tertiary          : #80bcba; // Tertiary Color Teal : rgb value 128, 188, 186
$color-tertiary-dark     : darken($color-tertiary, 10%);
$color-tertiary-light    : lighten($color-tertiary, 10%);

$color-gray       				: #747577;
$color-gray-dark  				: darken($color-gray, 10%);
$color-gray-light 				: lighten($color-gray, 10%);

$color-gray-secondary           : #58595b;
$color-gray-secondary-dark      : darken($color-gray-secondary, 10%);
$color-gray-secondary-light     : lighten($color-gray-secondary, 10%);

$color-black              : #000;
$color-white         			: #fff;

$color-anchor-default     : #4ac2be;
$color-text-default     	: #262729;
$color-text-light         : #595a5c;

$color-success          	: #94df60;
$color-error            	: #e16060;

/**
 * Breakpoints
 */
$mobile : 767px;
$tablet : 980px;
$desktop : 1200px;


/**
 * Transitions
 */
$transitions : (
  default : ease-in-out,
  cubic   : cubic-bezier(.64,.09,.08,1)
);




