


	@@include("../partials/modals.tpl.html")

	</div><!-- #app -->
		    <div class="sign-up">
        <h4>Get Involved</h4>
        <p>Get involved and learn how you can make a difference in your own community.</p>
        <form action="#">
          <label for="email">Email Address</label><br/>
          <input type="text" name="email" value="" placeholder="Email">
          <br>
          <div class="form--short">
            <div>
              <label for="firstname">First Name</label><br/>
              <input type="text" name="firstname" value="" placeholder="John">
            </div>
            <div>
              <label for="lastname">Last Name</label><br />
              <input type="text" name="lastname" value="" placeholder="Smith">
            </div>
          </div>
          <label for="postalcode">Postal Code</label><br/>
          <input type="text" name="postalcode" value="" placeholder="Postal Code">
          <br>
          <input class="btn" type="submit" value="Submit">
        </form>
    </div>
    <a href="#cta-toggle" id="cta-toggle" class="get-involved">Get involved</a>
</div> <!-- #wrapper -->

	<!-- jQuery CDN or localhost fallback -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.min.js"><\/script>')</script>



	<!-- Plugins & Components JS-->
	<script src="components/slick/slick.min.js"></script>

	<!-- Main Application JS -->
	<!-- <script src="assets/js/plugins.js"></script> -->
	<script src="assets/js/app.js"></script>



	</body>
</html>
