<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>United Way</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon(s) -->
  <!-- <link rel="shortcut icon" href="assets/images/favicon.png?v3" type="image/x-icon" />
  <link rel="apple-touch-icon" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon.png?v3"> -->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/vbp0per.css">
  <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->

  <!-- Modernizr & Prefix Free (All other JS in footer) -->
  <script src="../components/prefix-free/prefixfree.min.js"></script>

  <!-- Typekit -->


</head>
<body class="@@body_class">
<div id=wrapper>
	<div id="app" class="@@app_class">
    <header id="header" class="header">
      <div class="logo">
        <img src="assets/images/uw-logo.png">
        <p class="header--text">United way</p>
      </div>
      <div class="hamburger">
        <p class="translate"><a href="#" class="translate-en">En/</a><a href="#" class="translate-fa">Fa</a></p>
        <span>
          <a id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
        </span>
      </div>
      <nav id="nav" class="menu--overlay">
        <ul class="menu--content">
          <div class="menu--close">
              <a id="menu-toggle" href="#menu-toggle" class="closebtn">&times;</a>
          </div>
          <div class="menu--items">
              <li><a href="#">Home</a></li>
              <li><a href="#">About United Way</a></li>
              <li><a href="#">Creating Unignorable</a></li>
              <li><a href="#">Local Issues</a></li>
              <li><a href="#">Local Love</a></li>
              <li><a href="#">Collabs</a></li>
              <li><a href="#">Influencers</a></li>
              <li><a href="#">Get Information</a></li>
          </div>
        </ul>
      </nav>
    </header>


