// _content.scss

/**
 * App (Wrapper)
 */
#app {
  position: relative;

  &.app--modal-overlay {

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      z-index: 20;
    }
  }
}

/**
 * Content
 */

/**
 * Section(s)
 */
section {}

  .section--xsmall          { margin: 25px 0; }
  .section--small           { margin: 40px 0; }
  .section                  { margin: 70px 0; }
  .section--large           { margin: 90px 0; }
  .section--xlarge          { margin: 100px 0; }
  .section--xxlarge         { margin: 120px 0; }

  .section-padded--xsmall   { padding-top: 25px; padding-bottom: 25px; }
  .section-padded--small    { padding-top: 40px; padding-bottom: 40px; }
  .section-padded           { padding-top: 70px; padding-bottom: 70px; }
  .section-padded--large    { padding-top: 90px; padding-bottom: 90px; }
  .section-padded--xlarge   { padding-top: 100px; padding-bottom: 100px; }
  .section-padded--xxlarge  { padding-top: 120px; padding-bottom: 120px; }

  .section--float-left      { width: 100%; float: left; }

  .section-divider {
    width: 100%;
    border: 1px solid $color-white;
  }

  .section__header {
    margin-bottom: 50px;
    text-align: center;

    &.section__header--small { margin-bottom: 35px }
  }

  .section__footer {
    margin-top: 50px;
    text-align: enter;

    &.section__footer--small { margin-top: 40px }
  }



/**
 * Articles
 */
article {}





/**
 * Iframe container
 */
.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



/**
 * Reponsive container
 */
.responsive-container, %responsive-container {
  position: relative;
  width: 100%;
}

.responsive-container img,
.responsive-img {
  width: 100%;
  height: auto;
}





/*
 * Screen reader text
 */
.screen-reader-text {
  position: absolute !important;
  left: -999em;
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// CTA Box Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

.cta-box {
    display: flex;
    flex-direction: column;
    background: $color-black;
    padding: 4em;
    max-width: 500px;
    // max-height: 425px;
    h4 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 24px;
      line-height: normal;
    }
    p {
      font-size: 15px;
      padding: 20px 0px;
      margin: 0;
    }
    h2 {
      font-size: 40px;
      text-transform: uppercase;
      padding: 10px 0 20px 0;
    }
    img {
      max-width: 100%;
    }
  @include media ('mobile') {
    max-width: 333px;
    padding: 1.5em;
    margin: 1em;
  }
  &.cta-box__header {
    max-width: 450px;
    min-width: 400px;
    min-height: 400px;
    align-items: flex-start;
    justify-content: center;
    padding: 2em;
    &.collabs {
      height: 400px;
      max-width: 450px;
      min-width: 400px;
      min-height: 400px;
    }
    @include media ('mobile') {
      max-width: 350px;
      min-width: 300px;
      min-height: 300px;
    }
    h4 {
      font-size: 3em;
      line-height: 1;
    }
    span {
      color: $color-white;
      text-transform: uppercase;
      padding-top: 1em;
      font-family: $font-heading;
    }
    @include media ('mobile') {
      h4 {
        font-size: 2em;
      }
      span {
        font-size: 20px;
      }
    }
  }
}
.cta-box--title {
      display: flex;
      align-items: center;
      background: $color-black;
      padding: 30px;
      height: 350px;
      width: 400px;
      min-width: 350px;
      max-width: 450px;
      margin: 20px;
      @include media ('mobile') {
        // height: 80%;
        width: 80%;
      }
}
.cta-box--image {
height: 100%;
justify-self: center;
background-repeat: no-repeat;
img {
  max-width: 500px;
  width: 390px;
  object-fit: contain;
  padding: 20px;
}
}
.cta-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  text-align: left;
  letter-spacing: 1.5px;
  margin: 20px 40px;
  p {
    padding: 20px 0px;
    text-align: left;
  }
  @include media ('mobile') {
  text-align: center;
    span {
      padding-bottom: 50px;
      text-align: center;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Open CTA Styles
// ~~~~~~~~~~~~~~~~~~~~~~~


#open-cta {
  .container {
    display: flex;
    justify-content: space-around;
    padding: 125px 0;
    @include media ('mobile') {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding: 75px 0;
      img {
        margin: 0 20px 75px;
      }
    }
  }
  img {
    height: 100%;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Video Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

.video {
  // height: 800px;
  display: block;
  @include media ('mobile') {
    height: 377px;
  }
  .video--block{
    height: 740px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    top: 0;
    left: 0;
    img {
      color: #fff;
      position: absolute;
      width: 100px;
      top: 39%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      margin-top: 40px;
      z-index: 9;
      border-radius: 50%;
      padding: 20px 22px;
    }
    @include media ('mobile') {
      height: 377px;
  }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Open Colored background Interstitial
// ~~~~~~~~~~~~~~~~~~~~~~~

#open-cta--colored {
  background: $color-primary;
  // height: 700px;
  .container {
  display: flex;
  justify-content: space-around;
  padding: 150px 0;
  align-items: center;
    h4 {
      font-weight: 700;
      font-size: 3em;
      line-height: 1.5;
      text-transform: uppercase;
    }
      @include media ('tablet') {
        h4 {
        font-size: 2.5em;
        }
      }
     @include media ('mobile') {
      flex-direction: column;
      align-items: center;
      padding: 55px 0;
      h4 {
        font-size: 2.2em;
      }
     }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Open White Interstitial Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

#open-cta--white {
  background: $color-white;
  .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 150px 0;
    .cta-box--title {
      h4 {
      color: $color-white;
      @include media ('mobile') {
        font-size: 2em;
      }
      @include media ('tablet') {
        font-size: 2.5em;
      }
      }
    }
    .cta-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 400px;
      text-align: left;
      letter-spacing: 1.5px;
      margin: 20px 40px;
      .btn {
        color: $color-primary;
        border: 3px solid $color-primary;
        &:hover {
        background-color: $color-primary;
        color: $color-white;

        }
      }
      .btn--small {
        max-width: 280px;
      }
      p {
        padding: 15px 0;
        color: $color-black;
      }
      span {
          font-family: $font-heading;
          font-size: 33px;
          padding: 30px 0;
      }
    }
    h4 {
      font-weight: 900;
      font-size: 3em;
      color: $color-black;
      line-height: 1.5;
      text-transform: uppercase;
    }
    @include media ('mobile') {
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
   }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Prints Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

#prints {
    height: 700px;
    position: relative;
    .cta-box {
      position: absolute;
      z-index: 12;
      transform: translateY(40%);
      right: 100px;
      @include media ('mobile') {
        display: none;
      }
    }
    @include media ('mobile') {
      height: 100%;
    }
    .orange {
      display: none;
    @include media ('mobile') {
    background: $color-primary;
    display: flex;
    justify-content: center;
    height: 600px;
      .cta-box {
      display: flex;
      right: inherit;
      align-self: center;
      transform: translateY(0%);
      }
    }
    }
  .bg-cover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 75px;
    @include media ('mobile') {
      justify-content: center;
      height: 350px;
      .cta-box {
        display: none;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Apparel Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

#apparel {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  img.apparel {
    margin: 0px 30px;
    top: 0;
    align-self: flex-start;
  }
  .cta-box {
    padding: 0 4em 4em;
  }
  @include media ('mobile') {
    flex-direction: column-reverse;
    align-items: center;
    .cta-box {
      margin: 0;
      padding: 1.5em;
    }
    img.apparel {
      align-self: center;
    }
    padding-bottom: 70px;
  }
 }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Header Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

#header {
  position: fixed;
  background-color: #fff;
  top: 0px;
  transition: all .5s ease-out;
}
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 12px calc(100% - 95%);
  z-index: 20;
  transition: all .5s ease-out;
  p.header--text {
    color: $color-gray;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-heading;
    padding: 0 20px;
  }
  .translate {
    padding: 0 50px;
    color: $color-gray-secondary;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-heading;
    .translate-en {
      color: $color-primary;
    }
    @include media ('mobile') {
      display: none;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    height: 40px;
    img {
      height: 40px;
      max-height: 100%
    }
  }
  .hamburger {
    height: 40px;
    display: flex;
    align-items: center;
    i {
      color: $color-gray-secondary;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Slide Menu Animation Styles
// ~~~~~~~~~~~~~~~~~~~~~~~
// #wrapper {
//   padding-right: 400px;
//   transition: all .5s ease-out;
//   .sign-up {
//     display: flex;
//     flex-direction: column;
//     position: fixed;
//     width: 400px;
//     height: 100vh;
//     padding: 4em;
//     background: $color-primary;
//     right: 0;
//     top: 0;
//     z-index: 10;
//     justify-content: center;
//     overflow-y: auto;
//     transition: all .5s ease-out;
//     h4 {
//       text-transform: uppercase;
//       font-weight: 700;
//       font-size: 30px;
//     }
//   }
//   &.toggled {
//     padding-right: 0;
//       .sign-up {
//         margin-right: -400px;
//         opacity: 0;
//         transition: all .5s ease-out;
//       }
//       #header {
//         padding-right: calc(100% - 95%);
//       }
//       .get-involved {
//         right: calc(1px - 67px);
//         transition: all .5s ease-out;
//       }
//   }
// }
//       .get-involved {
//         font-size: 20px;
//         padding: 20px 18px;
//         text-transform: uppercase;
//         background: $color-primary;
//         max-width: 200px;
//         text-align: center;
//         color: $color-white;
//         font-family: $font-heading;
//         font-weight: 700;
//         letter-spacing: 1.5px;
//         transform: rotate(-90deg);
//         position: fixed;
//         bottom: 10%;
//         right: calc((1px - 67px) + 400px);
//         transition: all .5s ease-out;
//         // box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
//         &.sign-up {
//             right: -440px;
//             opacity: 1;
//         }
//       }


// ~~~~~~~~~~~~~~~~~~~~~~~
// Fixed Overlay Menu
// ~~~~~~~~~~~~~~~~~~~~~~~

#wrapper {
  transition: all .5s ease-out;
  .sign-up {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 450px;
    margin-right: -450px;
    padding: 4em;
    opacity: 0;
    height: 100vh;
    background: $color-primary;
    right: 0;
    top: 0;
    z-index: 25;
    justify-content: center;
    overflow-y: auto;
    transition: all .5s ease-out;
    @include media ('mobile') {
      margin-right: 0;
      margin-top: 100vh;
      width: 100vw;
    }
    h4 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;
    }
  }
  .menu--items {
    transition: all .5s ease-out;
  }
  &.cta--toggled {
    padding-right: 0;
      .sign-up {
        width: 450px;
        opacity: 1;
        margin-right: 0;
        transition: all .5s ease-out;

        @include media ('mobile') {
          width: 100vw;
          margin-top: 0;
          right: 0;

      .get-involved {
        right: inherit;
        transition: all .5s ease-out;
        }
      .menu--items {
        padding-right: inherit;
        }
       }
      }

      .sign-up--success {
        justify-content: space-around;
        display: none;
      }
      .sign-up--start {
        // display: none;
      }

      #header {
        // padding-right: calc(100% - 95%);
        padding-right: calc((100% - 95%) + 450px); // Slide animation
        @include media('mobile') {
          padding-right: calc(100% - 95%);
        }
      }
      .get-involved {
        right: calc((1px - 67px) + 450px);
        transition: all .5s ease-out;
        z-index: 26;
      }
      .menu--items {
        padding-right: calc((100% - 95%) + 457px);
        transition: all .5s ease-out;
      }
      .menu--overlay .closebtn {
      right: calc((100% - 95%) + 457px);
      }
  }
}
.get-involved {
  font-size: 20px;
  padding: 20px 18px;
  text-transform: uppercase;
  background: $color-primary;
  max-width: 200px;
  text-align: center;
  color: $color-white;
  font-family: $font-heading;
  font-weight: 700;
  letter-spacing: 1.5px;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 20%;
  right: calc(1px - 67px);
  transition: all .5s ease-out;
  z-index: 19;
  // box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
  &.sign-up {
      right: calc(1px - 67px);
      opacity: 1;
      margin-right: -450px;
  }
  @include media ('mobile') {
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    transform: rotate(0deg);
  }
}



// ~~~~~~~~~~~~~~~~~~~~~~~
// Menu Overlay Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

.menu--overlay {
    height: 100%;
    width: 100%;
    margin-top: -100vh;
    position: fixed;
    display: flex;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: rgb(238, 107, 73);
    background-color: rgba(238, 107, 73, 0.98);
    transition: 0.5s;
    opacity: 0;
    &.nav--toggled {
      margin-top: 0;
      opacity: 1;
    }
}

.menu--content{
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu--close {
  align-self: flex-start;
}

.menu--overlay li {
    font-family: $font-heading;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: calc(40px + 20 * ((100vw - 400px) / 1280));
    color: $color-white;
    display: block;
    transition: 0.3s;
    margin: 0 1em;
     @include media ('mobile') {
      padding: 10px 0;
      font-size: 1.8em;
     }
}

.menu--overlay a:hover, .menu--overlay a:focus {
    color: $color-black;
  }

.menu--overlay .closebtn {
    position: absolute;
    right: calc((100% - 95%) + 7px);
    top: 10;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.15em;
    color: $color-white;
}

@media screen and (max-height: 450px) {
  .menu--overlay a {font-size: 20px}
  .menu--overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~
// Instragram Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

.instagram {
  .header--small {
    color: $color-black;
    font-weight: 700;
    font-family: $font-heading;
    transform: translate(150px, -60px);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0 20px;
    @include media('mobile') {
      transform: translate(95px, -60px);
    }
  }
  .container {
    max-width: 900px;
  }
  img {
    max-width: 300px;
    max-height: 360px;
    margin: 20px;
  }
}

#instagram {
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
    padding-bottom: 100px;
  }
  .image {
    flex: 0 1 auto;
    margin: 10px;
    img {
    max-width: 300px;
    max-height: 300px;
    }
  }
  .text {
    background: $color-primary;
    color: $color-white;
    text-transform: uppercase;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-size: 16px;
      font-weight: 500;
    }
    h4 {
      font-weight: 700;
    }
  }
}
// ~~~~~~~~~~~~~~~~~~~~~~~
// Collaberation Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

.collabs--content {
  display: flex;
  margin-top: 74px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  @include media('mobile') {
    flex-direction: column;
  }
  img {
    max-width: 100%;
    flex: 1;
    display: block;
  }
  .collab-image {
    max-width: 400px;
    margin: 0 40px 0;
  }
  .collabs {
    margin: 30px 30px 0;
  }
}
.collab--title {
  background: $color-black;
  color: $color-white;
  font-family: $font-heading;
  padding: 30px 15%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn--shop {
    width: 200px;
    justify-self: flex-end;
    margin: 0 20px;
    &:hover {
      color: $color-black;
    }
  }
}
.collab--bg {
  height: 700px;
}


// ~~~~~~~~~~~~~~~~~~~~~~~
// Pantone Styles
// ~~~~~~~~~~~~~~~~~~~~~~~
.pantone {
  padding: 100px 0;
  justify-content: space-around;
  align-items: center;
  .pantone--items {
    margin: 30px;
  }
}


// ~~~~~~~~~~~~~~~~~~~~~~~
// Genral Styles
// ~~~~~~~~~~~~~~~~~~~~~~~

.text-dark {
  color: $color-black;
}
.color-primary {
  color: $color-primary;
}
.color-primary__background {
  background: $color-primary;
}
